.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reviews {
  border: 5px;
  border-color: black;
  width: 50%;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  font-size: 20px;
  background: #fff;
}

table th,
table tr:nth-child(2n + 2) {
  background: #e7e7e7;
}

table th,
table td {
  padding: 20px 50px;
}

table th {
  border-bottom: 1px solid #d4d4d4;
}

.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer::before {
  content: '\2606 \2606 \2606 \2606 \2606';
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: #f8ce0b;
}

