.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer::before {
  content: '\2606 \2606 \2606 \2606 \2606';
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: #f8ce0b;
}
